# Build artifacts
dist/
dist-ssr/
*.local

# Dependencies
node_modules/

# IDE & Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Server specific
src/my-server/node_modules/
src/my-server/.env.development
src/my-server/.env.production
